body {
  --zoom: 0.6;
  filter: invert(90%) hue-rotate(180deg);
  position: relative;
  top: 10px;
  left: -1px;
  padding-top: calc(5vh * var(--zoom));
  background-color: black;
}

button {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  position: relative;
  top: -10px;
  width: calc(20vw * var(--zoom));
  height: calc(4vw * var(--zoom));
  font-size: calc(3vw * var(--zoom));
}

button:focus {
  border-color: orange;
  z-index: 500;
}

button:active {
  border-color: rgb(0, 163, 163);
}

button:hover:not(:active):not(:focus) {
  border-color: #505050;
  z-index: 99999999999999;
}

#decrypt {
  position: relative;
  left: -5px;
}

#conceal {
  position: relative;
  left: -10px;
}

#license {
  position: relative;
  left: -15px;
}

#kStr {
  position: relative;
  top: -5px;
  z-index: 1;
}

textarea {
  resize: vertical;
  width: calc(100vw * var(--zoom) - 20px);
  height: calc(30vh * var(--zoom));
  font-family: arial;
  font-size: min(max(1.6vw * var(--zoom), 12px), 30px);
  position: relative;
}

*:focus {
  outline: none;
  z-index: 5;
}

textarea:focus {
  border-color: orange
}

textarea:active {
  border-color: orange;
}